@keyframes slide {
	from {
	  transform: translateX(0);
	}
	to {
	  transform: translateX(-100%);
	}
  }
  
  .logos {
	overflow: hidden;
	padding: 10px 0;
	background: white;
	white-space: nowrap;
	position: relative;
  }
  
  .logos:before,
  .logos:after {
	position: absolute;
	top: 0;
	width: 250px;
	height: 100%;
	content: "";
	z-index: 2;
  }
  
  .logos:before {
	left: 0;
	background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
	right: 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
	animation-play-state: paused;
  }
  
  .logos-slide {
	display: inline-block;
	animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
	height: 20px;
	border-left: 5px solid black;
	border-bottom: 5px solid black;
	border-top: 5px solid black;
	padding: 10px;
	background-color: #e6e6e6;
  }
  
  
  .u-text-placeholder{
	font-size: 27px;
	margin-right: 40px;
	bottom:10px;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	border-top: 5px solid black;
	margin-left: -5px;
	padding-right: 20px;
	background-color: #e6e6e6;

  }

  .cont-ajuste{
	position: relative; /* Define a posição como relativa */
	top: -17px; /* Move a div para cima em 20 pixels */
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	
  }