body{
    margin: 0 auto;
   
    font-family:principal;
  }

.ajeitar{
  border-bottom: #ffffff solid 5px;
}

.calculartudo{
  margin-top: 5rem;
}



#dif3{
  width: 25rem;
  background: #d10b0b;

}

#investments{
  border: 5px rgb(0, 0, 0) solid;
  border-radius: 0.4rem;
  top: -9px;
  position: relative;
  width: 13rem;
  height: 3rem;
  font-family: principal;
  margin-left: 20px;


}

  .to-top {
    display: none;
    position: fixed;
    bottom: 0px;
    height: 40px;
    right: -20px;
    font-size: 30px;
    padding: -10px -10px;
    background-color:rgb(236, 198, 92);
    color: #000000;
    border: 5px rgb(0, 0, 0) solid;
    text-decoration: none;
    border-radius: 2px;
  }
  
  .to-top:hover {
    color: #ffffff;
  }
  
  .show {
    display: block;
  }
  
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    background-color:rgb(236, 198, 92);
    font-size: 2rem;
    border-bottom: 5px black solid;
    border-top: 5px black solid;

   
  }
  

.cabeçalho{
  display: flex;

}

span{
  font-size: 50px;
}


.format{
    border: 5px rgb(0, 0, 0) solid;
    border-radius: 0.4rem;
    top: -9px;
    position: relative;
    width: 7rem;
    height: 2rem;
    font-size: 20px;
    
}



.central{
  font-family: principal;

}

.cabeçalho, a{
  text-decoration: none;
  color: black;
  margin-left:2rem;
  margin-right:2rem;
  font-family: principal;
  font-size: 50px;


}


.cabeçalho a:hover{
  text-decoration: none;
  color: rgb(247, 243, 243);
}
  


/*carrousel*/

.carousel {
  overflow: hidden;
  border-bottom: 5px black solid;
}

.slides {
  display: flex;
  transition: transform 0.3s ease;
  
 
}

.slides img {
  height: 50px;
  width: 100px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 30px ;
  margin-right: 2rem;
 
}

.u-text-placeholder{
  font-size: 15px;
  margin-left: 20px;

}




.txt{
  font-size: 25px;
  border: 5px black solid;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(236, 198, 92);

  
}



.principal{
  display: flex;
  justify-content: center;
  align-items: center;
margin-left: 50px;
}

.digitasolo{
  margin-bottom: 5rem;
}


.princ{
  display: flex;
  justify-content: center;
}


.imagem00{
  margin-top: 20px;
  height: 100px; width: 100px;
}


.conteudo{
  width: 50rem;
  height: 30rem;
  background-color: rgb(255, 255, 255);
  margin: 2rem;
  border: 5px black solid;
  border-radius: 10px;
}

.conteudo-top{
  width: 90rem;
  height: 15rem;
  background-color: rgb(212, 212, 212);
  margin: 2rem;
  border: 5px black solid;
  border-radius: 10px;
}

.conteudo-eda{
  width: 50rem;
  height: 25rem;
  background-color:#6E8DFA;
  margin: 2rem;
  border: 5px black solid;
  border-radius: 10px;
}

.conteudo-edu{
  width: 84.4rem;
  height: 15rem;
  background-color:#6E8DFA;
  margin: 2rem;
  border: 5px black solid;
  border-radius: 10px;


}

footer{

  height: 8rem;
  background-color:rgb(236, 198, 92);
  border-top: 5px black solid;
  border-bottom: 5px black solid;

}


.contaner-aux{
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.contaneral{
display: flex;
}




.usd, .canada, .russia, .japao, .india, .china, .reino-unido, .uniao, .hk{
  display:flex;
  flex-direction: column;
  margin-right: 9px;
  
}  


.footer1 {
  display: flex;
  justify-content: center;
  
  align-items: center;
}

.footer1 a {
  text-decoration: none;
  color: #000000;
  margin-right: 20px;
  font-size: 40px;
}

.footer1 img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.footer1 a:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.okk
{
flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
}



@font-face{
  font-family: principal;
  src: url(../font/Shrikhand-Regular.ttf);
  
}

.btn1, a{
  font-family: principal;
}
.btn1, a:hover{
  color: rgb(236, 198, 92);
}

label{
font-size: 50px;
}

.button-54 {

  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  font-family: principal;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}



 

.texto{
  font-family: principal;
  font-size: 20px;
}

.texto2{
  font-family: principal;
  font-size: 23px;
  color: #ffffff;

}
.centralalig{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.centralalig2{
  display: flex;
  justify-content: center;
  align-items: center;

}

.ajuste{
  margin-left: 40%;
  font-family: principal;
}
.ajuste1{
  margin: 20px;
}
.ajuste11:hover{
color: #fff;
}

.ajuste2{
  margin: 20px;
  color: #ffffff;
}

.ajuste3{
  margin: 20px;
  margin-left: 40%;
}

.btn{
  margin-top: 34px;
  margin-left: 18%;
 
}

.btn1{
  margin-top: 5px;
margin-left: 20%;



}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

 

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}


.articlee{
  background-color:rgb(236, 198, 92);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  padding: 100px;
  width: 900px;
  text-align: center;
  border: 5px black solid;
  height: 1600px;

 }


 .graficostilo{
  padding: 100px;
  width: 1000px;
  margin-left:17rem;
 }



.princ2{
  border: 5px black solid;
  margin: 20px;
  height: 50px;
  background-color: rgb(199, 197, 197);
 
}

.ty{
  font-size: 40px;
}

.king{
  width: 50rem;
  height: 50rem;
  margin-left: 14rem;
  margin-bottom: 1rem;
}

.princ3{
  font-size: 3rem;
}

#salario{
  font-size: 20px;
}

.calcprincipal{
 
  border: 5px solid black;
  width: 600px;
  height: 60px;
  background-color: rgb(214, 214, 214);
margin-left:200px ;
}

.graficostilo{

  padding: 100px;

  width: 1000px;
  margin-left:17rem;

 }

 .card {
  width: 300px;
  padding: 30px;
  background-color:#B393F9;
  
  border-radius: 10px;
  margin-top: 10px;
  margin-left:90px;
  margin-bottom: 50px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.card h2{
  margin-top: 10px;
  font-size: 1.5rem;
  text-align: center;
}



.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 0px 0px 12px rgba(0,0,0,1);
-webkit-box-shadow: -1px 0px 0px 12px rgba(0,0,0,1);
-moz-box-shadow: -1px 0px 0px 12px rgba(0,0,0,1);
background:#5932AD;
color: #000;


}
.card:hover p {
  color: #fff; /* Altera a cor do texto dentro de <p> para branco */
}

.card:hover h2 {
  color: #fff; /* Altera a cor do texto dentro de <p> para branco */
}

.card p{
  margin-top: 5px;
  font-size: 1rem;
  color: #000000;
  text-align: center;
}

@media (max-width: 320px) and (max-height: 480px) {
  /* Estilos para celular */
  body {
    font-size: 14px;
    /* Adicione outros estilos específicos para celular aqui */
  }
}
