body{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    font-family: principal;
  }
  
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    background-color:rgb(133, 252, 127);
    font-size: 2rem;
    font-family: principal;
   
  }
  

.cabeçalho{
  display: inline;

}

.central{
  font-family: principal;

}

.cabeçalho, a{
  text-decoration: none;
  color: black;
  margin-left:2rem;
  margin-right:2rem;
  font-family: principal;
  font-size: 50px;
  font-family: principal;

}


.cabeçalho a:hover{
  text-decoration: none;
  color: rgb(247, 243, 243);
}
  


/*carrousel*/

.carousel {
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.3s ease;
 
}

.slides img {
  height: 50px;
  width: 100px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 30px ;
  margin-right: 2rem;
}

.u-text-placeholder{
  font-size: 15px;
  margin-left: 20px;
}




.txt{
  font-size: 25px;
  
}



.container{
  display: flex;
  justify-content: center;
}

.principal{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.digitasolo{
  margin-bottom: 5rem;
}


.princ{
  display: flex;
  justify-content: center;
}


.imagem00{
  height: 20px; width: 20px;
}


.conteudo{
  width: 50rem;
  height: 30rem;
  background-color: rgb(255, 255, 255);
  margin: 2rem;
  border: 1px rgb(0, 0, 0) solid;
}


footer{

  height: 8rem;
  background-color:rgb(133, 252, 127);

}

.contaner-aux{
  margin-top: 15rem;
  margin-bottom: 10rem;
}


.usd, .canada, .russia, .japao, .india, .china, .reino-unido, .uniao, .hk{
  display:flex;
  flex-direction: column;
  margin-right: 9px;
  
}  






@font-face{
  font-family: principal;
  src: url(/font/Super\ Funtime.ttf);
  
}


.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}



 
.texto{
  font-family: principal;
  font-size: 30px;
}

.ajuste{
  margin-left: 40%;
  font-family: principal;
}
.ajuste1{
  margin: 20px;
}
.btn{
  margin-top: 50px;
  margin-left: 27%;
}

.btn1{
  margin-top: 120px;
  margin-left: 27%;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

 

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}